<!doctype html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> -->
  <meta charset="utf-8">
  <title>CRM</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.7da6cb622850fe6d0cef.css"></head>

<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.1c44b6959bd690359252.js"></script><script type="text/javascript" src="polyfills.c2a7344c1c84ba3d2a73.js"></script><script type="text/javascript" src="main.7860b0eaf6a00c5682f4.js"></script></body>

</html>